.env/
Inputs/**/*.xml
Download/**/*.xml
Outputs/**/*.csv
**/*.png
**/*.pdf
**/*.txt
**/*.pyc
**/*.html
**/*.zip
**/*.tar.gz
Inputs/hansard/download_utils.jl
sgml2xml/download_utils.jl
sgml2xml/**/*.xml
sgml2xml/**/*.sgm
Analysis/*
