#Inputs
Inputs/senate_xmls/
Inputs/house_xmls/
Inputs/house_test_xmls/
Outputs/HouseCSV/hansard/
Outputs/SenateCSV/hansard/
**/*.png
**/*.pdf
**/*.txt
**/*.pyc
**/*.html
**/*.zip
**/*.tar.gz
Analysis/*
/docs/build/
Manifest.toml
